# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Validate

on:
  push:

jobs:
  check:
    runs-on: ubuntu-latest

    env:
      # this environment variable is used by setup-node to enable custom
      # registry access
      NODE_AUTH_TOKEN: ${{ secrets.PACKAGE_REGISTRY_ACCESS_TOKEN }}

    strategy:
      matrix:
        scripts: ["test", "test-integration", "build", "eslint", "prettier"]
      # don't fail-fast: scripts are not related, so allow all failures to show up
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v2
        with:
          version: "10.18.0"

      - uses: actions/setup-node@v4
        with:
          node-version: "22.19.0"
          cache: "pnpm"
          cache-dependency-path: "pnpm-lock.yaml"
          registry-url: 'https://npm.pkg.github.com'

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: "Run '${{ matrix['scripts'] }}' script"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: "pnpm run ${{ matrix['scripts'] }}"
